---
import Tekst from "../components/Tekst.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>webfeat</h1>
		<main>
			<div class="pink_background">
				<div class="space_top">
				<Tekst overskrift="KVINDERNES ROLLER HOS ITMV" tekst="På værkstederne udgør de ansatte kvinder en afgørende del af arbejdsstyrken, hvor de deltager i produktionen af forskellige produkter til virksomhedskunder, institutioner og designere samt til virksomhedens egen webshop og butik. En central del af deres arbejde er at genanvende tekstiler, og her spiller det dygtige designteam en nøglerolle i at skabe produkter, der matcher de materialer, de har til rådighed, med de mennesker, der deltager i produktionen. Virksomheden lægger stor vægt på at oplære og integrere de ansatte kvinder i alle aspekter af arbejdet på værkstederne. De bliver gradvist indført i arbejdsfællesskabet og produktionen, samtidig med at de udvikler deres færdigheder, opnår sikkerhed og selvstændighed i udførelsen af opgaverne. Eksemplerne på de arbejdsopgaver, de ansatte kvinder udfører, spænder bredt fra at klippe stof og forberede syopgaver til at sortere materialer, assistere i butikken og udføre lettere rengøring. Deres bidrag omfatter også mere kreative opgaver som syning, broderi og plantefarvning, som er med til at skabe unikke og værdifulde produkter."/>
				</div>
				<img src="../components/" alt="Italian Trulli">
			</div>


			<div class="blue_background">

			</div>
		</main>
	</body>
</html>

<style>

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
	.pink_background{
		background-image: url("/svg/colored_social_indsats\ 1.svg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 3000px;
	}
	.space_top{
		padding-top: 400px;
	}


</style>