---

---

<div class="image_container_row">
    <img src="/svg/samarbejde_icon.svg" alt="collage of products">
    <img src="/svg/stoet.svg" alt="collage of products">
</div>

<style>
.image_container_row {
    display: flex;
    justify-content: center;
}

.image_container_row img {
padding: 30px;
}
</style>